.button1{
    padding: 16px;
    background-color: yellow;
    color: black;
    border-radius: 8px;
    font-size: 58px;
    text-decoration: none;
}
.button1:hover{
    color: black;
    background-color: red;
    transition: .5s;
}
.botons-formulario{
    width: 100%;
    border: none;
    background-color: #1f53c5;
    padding: 12px;
    color: white;
    margin-top: 38px;
    font-size: 16px;


}