footer{
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: #0e0e0e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .LogoFin{
        height: 80px;
        margin-bottom: 1rem;
    }
    .social-icons-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }
    .footer-menu-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 1rem;

       
    }
    .social-icon{
        height: 50px;
        width: 50px;
        border-radius: 50px;
        border: 1px solid #f2f2f2;
        background-image: url("../imagen/items/instagram-6338392_1280.webp");
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        margin: 1rem;

    }
    .social-icon:nth-of-type(2){
        background-image: url("../imagen/items/Facebook_Logo_\(2019\).png");
    
    }
    .social-icon:nth-of-type(3){
        background-image: url("../imagen/items/twi.png");
        
    }
    .social-icon:nth-of-type(4){
        background-image: url("../imagen/items/whatsapp-logo-1.png");
        
    }
    .social-icon:hover{
        background-color: #121212;
        filter: invert(1);
    }
    
    .copyright{
        color: #f2f2f2;
        opacity: 0.3;
        text-align: center;
    }
    .menu-item{
        margin: 1rem 1.5rem;
        cursor: pointer;
        opacity: 0.6;
        font-size: 36px;
    }
}